{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
    	
        <title>{% block title %}Code The Fuck Out!!!{% endblock %}</title>        
        
        {% include 'common/header.html' %}
        
        {% include 'common/fonts.html' %}
        
        {% include 'common/styles.html' %}
        
        {% block extra_head %}
        
        {% endblock %}
        
	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		{% include 'common/navbar.html' %}
		
		{% block content %}{% endblock %}
		
		{% include 'common/footer.html' %}
        
        {% include 'common/scripts.html' %}
        
        {% block extra_scripts %}
        
        {% endblock %}
        
	</body>
</html>